h1 {
  text-align: center;
  font-family: 'Ma Shan Zheng', cursive;
  color:#2abdbf;
  font-size: 80px;
}
#headers {
  font-family: 'Ma Shan Zheng', cursive;
  color:white;
  font-size: 60px;
}
.design {
  color:#2abdbf;
  font-size: 25px;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
}
table {
  border-color: white;
}
.feat-title {
   font-size:36px;
   color:#2abdbf;
}
